name: Publish

on:
  workflow_dispatch: {}

jobs:
  tests:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          9.0.x
          8.0.x
          7.0.x
          6.0.x
          3.1.x
    - run: dotnet restore
    - run: dotnet build --no-restore --configuration Release
    - run: dotnet test --no-build --configuration Release --verbosity normal

  publish:
    runs-on: ubuntu-latest
    needs: tests

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.0.x
    - run: dotnet restore
    - run: dotnet build --configuration Release Cronitor/Cronitor.csproj -p:Version=${{vars.VERSION}}.${{github.run_number}}
    - run: dotnet pack --configuration Release Cronitor/Cronitor.csproj --no-build -p:Version=${{vars.VERSION}}.${{github.run_number}} -p:PackageVersion=${{vars.VERSION}}.${{github.run_number}} -p:IncludeSymbols=true -p:SymbolPackageFormat=snupkg -p:NuspecFile=Cronitor.nuspec
    - run: dotnet nuget push Cronitor/bin/Release/Cronitor.${{vars.VERSION}}.${{github.run_number}}.nupkg --api-key ${{secrets.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json --skip-duplicate